header {
	position:  absolute;
	left: 0;
	top: 0;
	height: 100px;
	width: 100%;
	background: #044f5e url('../img/logo-edilink-blanc.png') no-repeat 20px 10px;
	border-bottom: 1px solid #133783;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lucda Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 16px;
	color: #000333;
}

body section#content {
	position: absolute;
	top: 110px;
	left: 50%;
	width: 1000px;
	margin: 0 0 0 -400px;
	padding: 0;
	font-size: 16px;
}

body#loginPage section#content {
	top: 150px;
}

h1 {
	text-align: center;
	font-size: 22px;
	margin: 0px 60px 30px 60px;
	padding: 0 0 5px 0;
	color: #044f5e;
	border-bottom: 1px solid #044f5e;
}


form label {
	display: block;
	width: 150px;
	float: left;
	text-align: right;
	padding: 4px 10px 0 0;
}

form input[type="email"], form input[type="text"],form input[type="password"]{
	display: block;
	width: 250px;
	padding: 2px;
}
form input[type="submit"]{
	margin: 0 20px 0 160px;
	border-style: solid;
	border-width: 1px;
	border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
	background-color: #044f5e;
	color: #FFFFFF;
	padding: 2px 15px 3px 15px;
	text-align: center;
	font-size: 16px;
}

a{
	color: #044f5e;
}

form p.error {
	margin-left: 160px;
	color: #d23d24;
}

ul.errorlist {
	margin-left: 160px;
	padding: 0;
	list-style-type: none;
	color: #d23d24;
}

body#welcomePage header{
	background: #044f5e url('../img/logo-edilink-blanc.png') no-repeat 10px 5px;
	color: #FFFFFF;
}

body#welcomePage header p#name{
	font-size: 22px;
	margin: 20px 0 0 250px;
}

body#welcomePage header p#navigationLinks{
	position: absolute;
	right: 40px;
	top: 25px;
}
body#Clients header p#navigationLinks{
	position: absolute;
	right: 40px;
	top: 25px;
}
a.buttonLink {
	border-style: solid;
	border-width: 1px;
	border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
	background-color: #044f5e;
	color: #FFFFFF;
	padding: 2px 15px 3px 15px;
	text-align: center;
	text-decoration: none;
}
table,
td {
    border: 1px;
    border-color:  #044f5e;
}

table.mytable {
	background-color: #3e3e3e;
}